.content .post, .recent-comments {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}
.block {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}
.content-md>p>a {
  color: #575cb1;
}
li.previous {
    float: left;
    display: block;
    text-align: center;
    line-height: 38px;
}
li.next {
    float: right;
    display: block;
    text-align: center;
    line-height: 38px;
}
hr {
    background: #e0e0e0;
    height: 1px;
    border: none;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    line-height: 1.42858;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #e8e8e8;
    border-radius: 4px;
    font-size: 0.93em;
}
.comment-box {
    width: 50%;
    margin: 0 auto;
}
.content-md>p {
  margin: 30px 0;
  font-size: 15px;
  line-height: 1.8;
  font-style: italic;
  line-height: 1.7;
  color: #778087;
  margin: 1.5em 0;
}
.hashTitle>h2 {
  padding-bottom: 10px;
  margin: 1.5em 0 0;
  font-size: 2em;
  line-height: 1.75em;
}

.content-md>ul>li>a {
  color: #575cb1;
}
ul>li>a {
  color: #778087;
}
li>a {
  color: #575cb1;
}
span {
  /*color: #222;*/
}
.pager {
  width: 65%;
}
.content {
  width: 50%;
  margin: 0 auto;
  padding: 1.875rem 0 0;
}
.text-center {
  text-align:center;
  margin: .67em 0;
}
.content-md>p, .content-md>a, .content-md>h2 {
  color: #222222;
  font-style: normal;
}
article h1 {
  text-align: center;
  padding: 0.1em 80px 0 80px;
  color: #363636;
  position: relative;
}
article h2 a {
  color: #404040;
  font-size: 26px;
  line-height: 1.3;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 700;
  }

.article-inline {
  padding-left: 0px;
  margin-left: 0px;
  list-style: none;
  font-size: 14px;
}
.article-inline li {
  display: inline-block;
  margin: 0 2px;
}
/*小标*/
.ui.red.ribbon.label {
    border-color: #47456d;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.ui.red.label, .ui.red.labels .label {
    background-color: #97dffd;
    border-color: #97dffd;
    color: #fff;
    margin: 5px 0 15px 2px;
    font-size: 14px;
}
.ui.ribbon.label {
    position: relative;
    margin: 0 .2em;
    left: -3.3rem;
    padding-left: 2rem;
    border-radius: 0 4px 4px 0;
    border-color: rgba(0,0,0,.15);
}
.ui.label:last-child {
    margin-right: 0;
}
.ui.ribbon.label {
    margin-top: 5px;
    margin-bottom: 5px;
}
.ui.label {
    display: inline-block;
    padding: .5em .8em;
}
.ui.ribbon.label:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    border-top: 0 solid transparent;
    border-right-width: 1em;
    border-right-color: inherit;
    border-right-style: solid;
    border-bottom: 1em solid transparent;
    border-left: 0 solid transparent;
    width: 0;
    height: 0;
}
.ui.label a {
    color: inherit;
}

.article-meta {
    color: #555;
    font-size: 16px;
    word-break: break-word;
    line-height: 20px;
}

.abstract {
  white-space: pre-wrap;
  font-size: 1.1rem;
  line-height: 1.8em;
  margin: 1em 0;
  color: #333;
}
.abstract img {
  max-width: 100%;
  display: block;
}

.more {
  text-align: right;
}
.article {
  width: 100%;
  margin: 0;
  padding: 0;
}
.more a {
  background-color: #565a8e;
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  /*background-color: #e8e8e8;*/
  transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
}
.pages {
  width: 100%;
  margin: 20px auto 0;
  overflow: hidden;
}
.pages a {
  background: #a3a3a3;
  display: block;
  padding: 8px 10px;
  margin: 0 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  color: #222222;
}
@media (max-width: 800px) {
  .article-list {
    border-radius: 0!important;
  }
  .ui.ribbon.label:after{
    display: none;
  }
}
